<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <display-name>Carneigie Financial System</display-name>
    <description>
      Carneigie Financial System
    </description>
    
    <servlet>
        <servlet-name>    cfs-controller        </servlet-name>
        <servlet-class>   controller.Controller   </servlet-class>
        <init-param>
          <param-name>    jdbcDriverName          </param-name> 
	      <param-value>   com.mysql.jdbc.Driver   </param-value>
        </init-param>
        <init-param>
          <param-name>    jdbcURL                 </param-name> 
	      <param-value>   jdbc:mysql:///test  </param-value>
        </init-param>
        <init-param>
          <param-name>    csvDir                  </param-name> 
	      <param-value>                        </param-value>
        </init-param>
    </servlet>
    
    <servlet>
        <servlet-name>   image-servlet            </servlet-name>
        <servlet-class>  view.ImageServlet        </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>   cfs-controller         </servlet-name>
        <url-pattern>    *.do                     </url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>   image-servlet            </servlet-name>
        <url-pattern>    /image                   </url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>signin</servlet-name>
        <servlet-class>twitter.SigninServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>callback</servlet-name>
        <servlet-class>twitter.CallbackServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>twitter.LogoutServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>post</servlet-name>
        <servlet-class>twitter.PostServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>signin</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>callback</servlet-name>
        <url-pattern>/callback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>post</servlet-name>
        <url-pattern>/post</url-pattern>
    </servlet-mapping>
    
    

    <welcome-file-list>
        <welcome-file>   login.do                    </welcome-file>
    </welcome-file-list>
</web-app>
